includes:
    - phpstan-baseline.neon
    - extension.neon

parameters:
    level: 9
    paths:
        - src
        - types
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: true

